:root {
    --font-family: 'Quicksand';
    --color-bg-main: #3F3E3E;
    --padding-section: 1.875rem;
    --padding-block: 1.875rem;
    --font-size-main: 5rem;
    --color-font-bright: #FFFFFF;
    --color-font-dark: #000000;
    --color-bg-secondary: #C4C4C4;
}