@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;700&display=swap");
/* Указываем box sizing */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
  margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
@media (prefers-reduced-motion: reduce) {
  * {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.01ms !important;
            transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

:root {
  --font-family-title: 'Quicksand';
  --font-family: 'Raleway';
  --color-bg-main: #3F3E3E;
  --padding-section: 1.875rem;
  --padding-block: 1.875rem;
  --font-size-title: 10rem;
  --font-size-main: 5rem;
  --color-font-header-bright: #FFFFFF;
  --color-font-bright: #E1E1E1;
  --color-font-dark: #000000;
  --color-bg-secondary: #EAEAEA;
}

html {
  font-family: var(--font-family), sans-serif;
}

body {
  background-color: var(--color-bg-main);
}

.section-1 .rhs {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: var(--padding-section);
  font-family: var(--font-family-title);
  text-align: center;
}

.section-1 .rhs .title {
  font-weight: 500;
  font-size: var(--font-size-title);
  color: var(--color-font-bright);
}

.section-1 .rhs .subtitle {
  font-weight: 300;
  font-size: var(--font-size-main);
  color: var(--color-font-bright);
}

.section-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  width: 100%;
  height: 100vh;
  padding: var(--padding-section);
}

.section-2 .lhs {
  height: 100%;
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-right: var(--padding-block);
  text-align: end;
}

.section-2 .lhs .text-title {
  font-weight: 500;
  font-size: 2.5rem;
  color: var(--color-font-bright);
}

.section-2 .lhs .text {
  font-weight: 400;
  font-size: 2.5rem;
  color: var(--color-font-bright);
}

.section-2 .lhs :not(:first-child) {
  margin-top: 2rem;
}

.section-2 .rhs {
  height: 100%;
  -ms-flex-preferred-size: 55%;
      flex-basis: 55%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.section-2 .rhs .some {
  height: auto;
  margin-right: 0;
  margin-left: auto;
}

.section-3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  width: 100%;
  height: 100vh;
  padding: var(--padding-section);
}

.section-3 .lhs {
  -ms-flex-preferred-size: 55%;
      flex-basis: 55%;
  background-color: var(--color-bg-secondary);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.section-3 .lhs .some {
  height: 100%;
}

.section-3 .rhs {
  -ms-flex-preferred-size: 45%;
      flex-basis: 45%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-left: var(--padding-block);
}

.section-3 .rhs .text-title {
  font-weight: 500;
  font-size: 2.5rem;
  color: var(--color-font-bright);
}

.section-3 .rhs .text {
  font-weight: 400;
  font-size: 2.5rem;
  color: var(--color-font-bright);
}

.section-3 .rhs :not(:first-child) {
  margin-top: 2rem;
}

.section-4 {
  width: 100%;
  height: 100%;
  padding: var(--padding-section);
}

.section-4 .plate {
  margin-top: 2rem;
  background-color: var(--color-bg-secondary);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 43vh;
}

.section-4 .plate .some {
  height: 100%;
}

.section-4 .text {
  font-weight: 300;
  font-size: 2.5rem;
  color: var(--color-font-bright);
  text-align: center;
  font-family: var(--font-family-title);
  margin-top: 5rem;
}
/*# sourceMappingURL=examples.css.map */