:root {
    --font-family-title: 'Quicksand';
    --font-family: 'Raleway';
    --color-bg-main: #3F3E3E;
    --padding-section: 1.875rem;
    --padding-block: 1.875rem;
    --font-size-title: 10rem;
    --font-size-main: 5rem;
    --color-font-header-bright: #FFFFFF;
    --color-font-bright: #E1E1E1;
    --color-font-dark: #000000;
    --color-bg-secondary: #EAEAEA;
}